
body {
  /* background-color: #acb7ae; */
  background-color: #C5E0B6;
}

#map {
  padding: 20px;
  margin: 30px;
  height: 600px;
  /* width: 100%; */
  box-sizing: border-box;
  border: solid;
  border-width: 3px;
}

.leaflet-marker-icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.container  {
  padding: 20px;
  margin: 20px;
}

.card {
  padding: 20px;
  margin: 30px;
  background-color: #e8f9fd;
}

.row  {
  width: 100%;
}

#trip-summary {
  line-height: 200%;
}


